<section id="about">
  <p class="section__text__p1">Get To Know Me</p>
  <h2 class="title">About Me</h2>
  <div class="section-container">
    <div class="section__pic_container">
      <img
        src="/Images/Untitled design (1).png"
        alt="Profile Picture"
        class="about-pic"
      />
    </div>
    <div class="about-details-container">
      <div class="about-containers">
        <div class="details-container">
          <img
            src="/Images/medal-solid-240.png"
            alt="Experience Icon"
            class="icon"
          />
        </div>
      </div>
    </div>
  </div>
</section>
