<section id="contact">
  <p class="section__text__p1">Get in Touch</p>
  <h2 class="title">Contact Me</h2>
  <div class="contact-info-upper-container">
    <div class="contact-info-container">
      <img
        src="/Images/Email-Icon.png"
        alt="Email Icon"
        class="icon contact-icon"
      />
      <p><a href="mailto:jeffchery009@gmail.com">jeffchery009@gmail.com</a></p>
    </div>
    <div class="contact-info-container">
      <img
        src="/Images/LinkedIn-Icon.png"
        alt="LinkedIn Icon"
        class="icon contact-icon"
      />
      <p><a href="https://www.linkedin.com/in/jeffreychery/">LinkedIn</a></p>
    </div>
  </div>
</section>
