<section id="projects">
  <p class="section__text__p1">My Recent Projects</p>
  <h2 class="title">Projects</h2>
  <div class="skills-details-container">
    <div class="details-container color-container">
      <div class="article-container">
        <img src="" alt="Project 1" class="project-img" />
      </div>
      <h2 class="skills-sub-title project-title">Project 1</h2>
      <div class="btn-container">
        <button class="btn btn-color-2 project-btn" onclick="location.href='#'">
          Github
        </button>
        <button class="btn btn-color-2 project-btn" onclick="location.href='#'">
          Live Demo
        </button>
      </div>
    </div>
  </div>
</section>
